body {
    background: rgb(13, 13, 13);
    text-decoration: none;
}

#header h1{
    color: #861212;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}

nav a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding-left: 5%;
}

nav {
    padding-top: 5%;
    text-align: center;
    padding-bottom: 5%;
}

#home  h3{
    color: #750101;
    padding-top: 3%;
    text-align: center;

}

#home {
    background-color: #fff;
}

#home p1{
    color: #000000;
    padding-left: 3%;
    padding-right: 40%;
}
#home p2{
    color: #fff;
}

#home footer{
    text-align: center;
}

#dracula{
    padding-top: 10%;
}

#dracula h1{
    background-color: #861212;
    color: #fff;
    text-align: center;
}

#dracula p1 {
    color: #fff;
} 

#dracula p2 {
    color: #000000;
} 

#multimedia {
    background-color: #750101;
}

#multimedia h2, h1, p1{
    color: #fff;
    
}


footer{
    color: #fff;
    text-align: center;
}